<h1>Sinopsis de Peliculas</h1>
<br>
<br>
<div class="container d-flex justify-content-center align-items-center">
    <%= image_tag('fulls/01.jpg', width: 240, height: 360)%>
</div>
<h2>ELEMENTOS</h2>
<br>
<h5>ANIMACIÓN, TE</h5>
<br>
<h5>1hrs 50min</h5>
<br>
<p>ELEMENTOS es el nuevo largometraje original de Disney y Pixar ambientado en Ciudad. Elementos, en donde conviven
    residentes de fuego, agua, tierra y aire. La historia presenta a Ember, una joven fogosa, inteligente y con un gran
    sentido del humor, cuya amistad con Wade, un joven divertido, sentimental y que se deja llevar por la corriente,
    pone en tela de juicio sus convicciones con relación al mundo en el que viven y a la persona que ella quiere ser.
</p>
<br>
<div class="container d-flex justify-content-center align-items-center">
    <%= image_tag('fulls/02.jpg', width: 240, height: 360)%>
</div>
<h2>HAZME EL FAVOR</h2>
<br>
<h5>COMEDIA, +14</h5>
<br>
<h5>1hrs 43min</h5>
<br>
<p>A punto de perder la casa de su infancia, Maddie (Jennifer Lawrence) descubre un anuncio de trabajo en interesante:
    padres adinerados y controladores buscan a alguien que “salga” con su introvertido hijo de 19 años, Percy, antes de
    que se vaya a la universidad. Para su sorpresa, Maddie pronto descubre que conquistar al torpe Percy no es una cosa
    segura</p>
<br>
<div class="container d-flex justify-content-center align-items-center">
    <%= image_tag('fulls/03.jpg', width: 240, height: 360)%>
</div>
<h2>BOOGEYMAN: TU MIEDO ES REAL</h2>
<br>
<h5>TERROR, +14</h5>
<br>
<h5>1hrs 38min</h5>
<br>
<p>Sadie Harper, una estudiante del colegio secundario y su hermana pequeña, Sawyer, están conmocionadas por la reciente
    muerte de su madre y no reciben mucho apoyo de su padre, Will, un terapeuta que está lidiando con su propio dolor.
    Cuando un paciente desesperado se presenta inesperadamente en su casa en busca de ayuda, deja tras de sí una
    aterradora entidad sobrenatural que se aprovecha de las familias y se alimenta del sufrimiento de sus víctimas.</p>
<br>
<div class="container d-flex justify-content-center align-items-center">
    <%= image_tag('fulls/04.jpg', width: 240, height: 360)%>
</div>
<h2>FLASH</h2>
<br>
<h5>ACCIÓN, +14</h5>
<br>
<h5>2hrs 24min</h5>
<br>
<p>Los mundos chocan en " Flash" cuando Barry utiliza sus superpoderes para viajar en el tiempo con el fin de cambiar
    los acontecimientos del pasado. Pero cuando su intento de salvar a su familia altera inadvertidamente el futuro,
    Barry queda atrapado en una realidad en la que el General Zod ha regresado, amenazando con la aniquilación, y no hay
    superhéroes a quien recurrir. A menos que Barry consiga sacar de su retiro a un Batman muy diferente y rescatar a un
    kriptoniano encarcelado... aunque no sea el que está buscando. En última instancia, para salvar el mundo en el que
    se encuentra y volver al futuro que conoce, la única esperanza de Barry es correr por su vida. Pero, ¿bastará con
    hacer el sacrificio definitivo para reiniciar el universo?</p>
<br>
<div class="container d-flex justify-content-center align-items-center">
    <%= image_tag('fulls/05.jpg', width: 240, height: 360)%>
</div>
<h2>GUARDIANES DE LA GALAXIA VOL.3</h2>
<br>
<h5>ACCIÓN, TE +7</h5>
<br>
<h5>2hrs 29min</h5>
<br>
<p>En GUARDIANES DE LA GALAXIA VOL. 3 de Marvel Studios, la querida banda de Guardianes se instala en Knowhere. Pero sus
    vidas no tardan en verse alteradas por los ecos del turbulento pasado de Rocket. Peter Quill, aún conmocionado por
    la pérdida de Gamora, debe reunir a su equipo en una peligrosa misión para salvar la vida de Rocket, una misión que,
    si no se completa con éxito, podría muy posiblemente conducir al final de los Guardianes tal y como los conocemos
</p>
<br>
<div class="container d-flex justify-content-center align-items-center">
    <%= image_tag('fulls/06.jpg', width: 240, height: 360)%>
</div>
<h2>LA SIRENITA</h2>
<br>
<h5>AVENTURA, TE +7</h5>
<br>
<h5>2hrs 15min</h5>
<br>
<p>Ariel, la más joven de las hijas del Rey Tritón y la más desafiante, desea saber más sobre el mundo más allá del mar
    y, mientras visita la superficie, se enamora del apuesto Príncipe Eric. Si bien las sirenas tienen prohibido
    interactuar con los humanos, Ariel debe seguir su corazón. Así, hace un trato con la malvada bruja del mar, Úrsula,
    que le da la oportunidad de experimentar la vida en la tierra, lo que pone en peligro su vida y la corona de su
    padre.</p>
<br>
<div class="container d-flex justify-content-center align-items-center">
    <%= image_tag('fulls/07.jpg', width: 240, height: 360)%>
</div>
<h2>RAPIDOS Y FURIOSOS X</h2>
<br>
<h5>ACCIÓN, +14</h5>
<br>
<h5>2hrs 21min</h5>
<br>
<p>La décima película de la saga Rápidos y Furiosos, es el capítulo final de una de las franquicias más populares y
    queridas del cine, ahora en su tercera década y continuando con el mismo elenco y personajes que cuando comenzó. A
    través de varias misiones y contra lo imposible, Dom Toretto (Vin Diesel) y su familia han sido más astutos y más
    rápidos que todos los enemigos que se le han cruzado en su camino. Ahora se enfrentan a su enemigo más letal: una
    amenaza aterradora que surge de las sombras del pasado que está alimentado de una venganza sangrienta, y está
    decidido a destruir a su familia y destruir todo, y a cualquier persona, A los que Dom ama.</p>
<br>
<div class="container d-flex justify-content-center align-items-center">
    <%= image_tag('fulls/08.jpg', width: 240, height: 360)%>
</div>
<h2>SPIDER-MAN A TRAVÉS DEL SPIDER-VERSO</h2>
<br>
<h5>ANIMACIÓN, TE +7</h5>
<br>
<h5>2hrs 20min</h5>
<br>
<p>Miles Morales regresa en la próxima entrega de la saga ganadora del Oscar® Spider-Verso, una aventura épica que transportará al amigable vecino de Brooklyn Spider-Man a través del Multiverso para unir fuerzas con Gwen Stacy y un nuevo equipo de Spider-Personas, y enfrentarse así a un villano mucho más poderoso que cualquier cosa que hayan conocido antes.</p>
<br>
<div class="container d-flex justify-content-center align-items-center">
    <%= image_tag('fulls/09.jpg', width: 240, height: 360)%>
</div>
<h2>SUPER MARIO BROS: LA PELÍCULA</h2>
<br>
<h5>ANIMACIÓN, TE</h5>
<br>
<h5>1hrs 32min</h5>
<br>
<p>De Nintendo e Illumination llega una nueva película animada basada en el mundo de Super Mario Bros. Dirigida por by Aaron Horvath y Michael Jelenic (colaboradores en Los Jóvenes Titanes en acción, Jóvenes Titanes en acción: la película) un guion de Matthew Fogel (La gran aventura LEGO 2, Minions: Nace un villano), y protagonizada por Chris Pratt como Mario, Anya Taylor-Joy como la Princesa Peach, Charlie Day como Luigi, Jack Black como Bowser, Keegan-Michael Key como Toad, Seth Rogen como Donkey Kong, Fred Armisen como Cranky Kong, Kevin Michael Richardson como Kamek y Sebastian Maniscalco como Spike. Super Mario Bros. La Película es producida por el CEO y fundador de Illumination Chris Meledandri y por Shigeru Miyamoto de Nintendo. La película es co-financiada por Universal Pictures y Nintendo.</p>
<br>
<div class="container d-flex justify-content-center align-items-center">
    <%= image_tag('fulls/10.jpg', width: 240, height: 360)%>
</div>
<h2>TRANSFORMERS: EL DESPERTAR DE LAS BESTIAS</h2>
<br>
<h5>ANIMACIÓN, TE</h5>
<br>
<h5>2hrs 7min</h5>
<br>
<p>Volviendo a la acción y el espectáculo que han cautivado a los cinéfilos de todo el mundo, Transformers: El Despertar De Las Bestias regresa con una aventura trotamundos en la década de 1990 con los Autobots e introducirá una nueva generación de Transformers: los Maximals, quienes se unirán a la batalla que está ocurriendo en la tierra entre Autobots y Decepticon</p>
<br>
<div class="container d-flex justify-content-center align-items-center">
    <%= image_tag('fulls/11.jpg', width: 240, height: 360)%>
</div>
<h2>KRAKENS Y SIRENAS: CONOCE A LOS GILLMAN</h2>
<br>
<h5>ANIMACIÓN, TE</h5>
<br>
<h5>1hrs 40min</h5>
<br>
<p>La dulce y tímida Ruby Gillman de 16 años, está desesperada por encajar en la escuela Oceanside High, pero la mayoría de las veces se siente invisible. Ruby es la tutora de matemáticas de su crush, que es un chico skater que sólo parece admirarla por sus fractales, y se le impide salir con los chicos más cool de la playa porque su supermamá sobreprotectora, le ha prohibido a Ruby meterse en el agua. Pero cuando rompe la regla #1 de su madre, Ruby descubrirá que es descendiente directa de las reinas guerreras Kraken y está destinada a heredar el trono de su abuela, la Reina Guerrera de los Siete Mares. Los Kraken han jurado proteger los océanos del mundo contra las sirenas vanidosas y sedientas de poder que llevan siglos luchando entre sí. Hay un gran problema con eso: la hermosa y popular chica nueva de la escuela, Chelsea resulta ser una sirena. Sin embargo, Ruby tendrá que aceptar quién es y hacer lo que sea para proteger a los que más quiere.</p>
<br>
<div class="container d-flex justify-content-center align-items-center">
    <%= image_tag('fulls/12.jpg', width: 240, height: 360)%>
</div>
<h2>LA NOCHE DEL DEMONIO: LA PUERTA ROJA</h2>
<br>
<h5>TERROR, +14</h5>
<br>
<h5>2hrs 0min</h5>
<br>
<p>En La Noche del Demonio: La puerta roja, el reparto original de la franquicia de terror regresa para el capítulo final de la terrorífica saga de la familia Lambert. Para acabar con sus demonios de una vez por todas, Josh (Patrick Wilson) y un Dalton en edad universitaria (Ty Simpkins) deben adentrarse más que nunca en El Más Allá, enfrentándose al oscuro pasado de su familia y a una serie de nuevos y más horripilantes temores que acechan tras la puerta roja.</p>
<br>